In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

Importing Dataframes

In [2]:
#pathway to dataframes
path = r'C:\Users\ajkap\Instacart Basket Analysis'

In [3]:
#Importing df_prods
df_prods = pd.read_csv(r'C:\Users\ajkap\Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv', index_col = False)

# Question 3. Import Orders Products Combined

In [4]:
#Importing orders_products_combined pickle file
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Question 4. Check shape of imported dataframe

In [5]:
#check rows and columns of imported df_ords_prods_combined 
df_ords_prods_combined.shape

(32434489, 12)

In [6]:
#check rows and columns of df_prods 
df_prods.shape

(49677, 6)

# Question 5. Merge Dataframe with Prods

In [7]:
#Check columns of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
#Drop the '_merge' column from the dataframe ords_prods_combined
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [11]:
# Check columns of df_ords_prods_combined
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,prior,1,2,8,NaN,196,1,0
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0

In [17]:
n =  500000
list_df = [df_ords_prods_combined[i:i+n] for i in range(0,len(df_ords_prods_combined),n)]

In [18]:
frames = []
for frame in list_df:
    df_full = frame.merge(df_prods, on='product_id', how='left', indicator=True)
    frames.append(df_full)

df_full = pd.concat(frames)

In [19]:
# Check columns of df_ords_prods_merged dataframe
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195.0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,12427.0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,26089.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,26406.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [11]:
#Merging the ords_prods_combined df with the df_prods using the  product_id column
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', how = 'left', indicator = True)

In [13]:
# Drop first unneccesary column 0_x from merged dataframe
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['Unnamed: 0_x'])

In [14]:
# Check columns of df_ords_prods_merged dataframe after removing Unnamed: 0_x column
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195.0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,14084.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,12427.0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,26089.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,26406.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

# Question 6. Confirm the results using merge flag

In [20]:
# Checking values in the _merge column
df_ords_prods_merged['_merge'].value_counts()

both          32406041
left_only        30200
right_only           0
Name: _merge, dtype: int64

In [16]:
#Checking shape of merged df_ords_prods_merged
df_ords_prods_merged.shape

(32436241, 16)

# Question 7. Export

In [ ]:
#Exporting the newly merged dataframe using pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))