In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#pathway to dataframes
path = r'C:\Users\ajkap\Instacart Basket Analysis'

In [3]:
#Importing df_ords_prods_merged 2
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_2.pkl'))

In [6]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average_orders
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average_orders
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders

In [7]:
#Create a subset
df = ords_prods_merged[:1000000]

# Question 2. Find Aggregated mean for entire df

In [8]:
ords_prods_merged.shape

(32406041, 20)

In [9]:
ords_prods_merged.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'Unnamed: 0_y', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'price_range_loc',
       'busiest_day', 'Busiest days', 'busiest_period_of_day'],
      dtype='object')

In [10]:
#Group by 'product_name'
df.groupby('product_name')

In [11]:
# Split the data into groups by "department_id" and then calculate the mean for each "order_number" column
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171095
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [14]:
ords_prods_merged.groupby('product_name').mean()

C:\Users\ajkap\AppData\Local\Temp\ipykernel_27828\870317800.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ords_prods_merged.groupby('product_name').mean()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices
product_name,,,,,,,,,,,,,
#2 Coffee Filters,1.719602e+06,101846.546976,19.308880,2.696268,13.312741,10.170999,25773.0,9.257400,0.330759,25774.0,26.0,7.0,11.0
#2 Cone White Coffee Filters,1.354903e+06,101226.538462,16.615385,3.384615,12.153846,9.769231,2158.0,7.384615,0.230769,2158.0,26.0,7.0,5.7
#2 Mechanical Pencils,1.783458e+06,91758.125000,17.000000,2.875000,11.500000,8.750000,26685.0,7.750000,0.000000,26686.0,87.0,17.0,9.2
#4 Natural Brown Coffee Filters,1.760581e+06,106088.746888,18.178423,2.755187,12.614108,10.647826,26381.0,10.701245,0.369295,26382.0,26.0,7.0,2.5
#NAME?,1.896854e+06,95139.068966,12.586207,2.724138,12.758621,9.571429,11908.0,6.724138,0.379310,11908.0,31.0,7.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
with Xylitol Unwrapped Original Flavor 50 Sticks Sugar Free Gum,1.938465e+06,100654.513514,33.513514,3.000000,13.432432,10.714286,22381.0,6.243243,0.459459,22382.0,46.0,19.0,5.4
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum,1.550755e+06,112836.763636,15.672727,3.000000,14.090909,12.653061,43420.0,9.109091,0.345455,43424.0,46.0,19.0,5.2
with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum,1.616480e+06,96133.367647,20.470588,2.867647,13.352941,8.812500,42006.0,7.808824,0.455882,42010.0,46.0,19.0,3.5
with a Splash of Mango Coconut Water,1.539167e+06,120483.173913,12.739130,3.260870,13.043478,8.260870,8716.0,13.260870,0.260870,8716.0,98.0,7.0,2.6
with a Splash of Pineapple Coconut Water,1.800451e+06,87718.037736,17.830189,3.037736,13.547170,11.549020,2987.0,7.830189,0.471698,2987.0,98.0,7.0,4.2

# Question 3

### There is not as much variablility in the entire dataframe mean compared to the mean for just the subset which is the first 1000000 rows. Also the subset average is greater than the average of the entire dataframe with the exception of department ID 17. It is worth noting that department_id 21 is missing from the subset. This could mean that there are more unspecified values for the department_id column.

# Question 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [21]:
##Creating loyalty flag using transform() function
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [22]:
#Check data for accuracy by allowing 100 rows to be displayed with the head function
pd.options.display.max_rows = None

In [23]:
ords_prods_merged.head(100)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average_orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average_orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average_orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,22
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,9
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,9
17,532817,19,prior,7,4,17,6.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average_orders,9
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,33
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average_orders,20
20,2231262,31,prior,17,3,11,8.0,196,14,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,20
21,2580647,43,prior,6,4,16,4.0,196,9,0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,11
22,2187180,43,prior,9,4,12,3.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,11
23,2497897,52,prior,1,1,9,NaN,196,4,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,27
24,1318871,52,prior,2,1,10,7.0,196,5,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,27
25,1261384,52,prior,3,1,10,7.0,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,27
26,580568,52,prior,5,2,10,8.0,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,27
27,2428073,52,prior,7,2,7,8.0,196,5,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,27
28,342306,52,prior,9,1,11,7.0,196,5,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,27
29,1520353,52,prior,10,2,10,8.0,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,27
30,2542086,52,prior,11,2,9,7.0,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,27
31,944694,52,prior,12,1,16,6.0,196,7,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,27
32,1268191,52,prior,15,2,11,8.0,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,27
33,1122089,52,prior,17,2,10,6.0,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,27
34,1498922,52,prior,18,2,10,14.0,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,27
35,180919,52,prior,19,3,8,8.0,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average_orders,27
36,2695875,52,prior,21,5,10,30.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,27
37,3205960,67,prior,1,3,11,NaN,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,24
38,970922,67,prior,2,1,15,5.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
39,596585,67,prior,3,1,13,7.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
40,2037087,67,prior,4,2,9,8.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,24
41,2474111,67,prior,5,3,14,8.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,24
42,1568481,67,prior,6,3,12,7.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,24
43,2048527,67,prior,8,2,11,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,24
44,2389031,67,prior,9,2,14,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,24
45,2378562,67,prior,10,1,10,6.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
46,1515698,67,prior,11,1,11,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
47,1928050,67,prior,12,2,12,8.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,24
48,1949274,67,prior,13,1,10,6.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
49,551869,67,prior,14,1,9,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
50,768572,67,prior,16,4,10,9.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,24
51,150528,67,prior,18,5,16,4.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,24
52,29758,67,prior,19,0,14,9.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most_orders,24
53,1558976,67,prior,21,1,9,5.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
54,863974,67,prior,22,1,11,14.0,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
55,2308399,67,prior,23,1,14,14.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,24
56,2759128,81,prior,3,1,9,14.0,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,7
57,1812985,81,prior,5,2,20,30.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,7
58,1889835,82,prior,1,3,15,NaN,196,6,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,19
59,499460,82,prior,3,5,10,5.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,19
60,2728456,82,prior,4,0,11,16.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most_orders,19
61,2653743,82,prior,6,4,9,13.0,196,5,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,19
62,1358880,82,prior,9,1,10,30.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,19
63,343588,82,prior,10,2,11,1.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,19
64,3034663,82,prior,15,2,11,12.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,19
65,147262,82,prior,18,1,13,7.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,19
66,3144004,82,prior,19,2,15,8.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,19
67,2126069,98,prior,3,0,9,25.0,196,7,0,...,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most_orders,14
68,2210120,98,prior,7,5,14,5.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,14
69,681011,98,prior,9,3,9,30.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,14
70,2846344,98,prior,11,4,13,15.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,14
71,747431,98,prior,12,6,13,30.0,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,14
72,2383054,98,prior,13,4,11,30.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,14
73,1993729,98,prior,14,5,8,8.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,14
74,1403849,109,prior,3,3,17,9.0,196,5,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average_orders,6
75,520620,120,prior,1,3,11,NaN,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,3
76,3273029,120,prior,3,2,8,19.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,3
77,1861943,185,prior,2,1,12,25.0,196,10,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,6
78,2040988,195,prior,1,1,14,NaN,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,58
79,1680569,195,prior,8,1,9,4.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,58
80,276171,195,prior,19,5,11,3.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,58
81,2744976,195,prior,22,5,10,7.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,58
82,2781919,195,prior,25,1,14,4.0,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most_orders,58
83,1738718,195,prior,31,2,8,4.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,58
84,3058369,195,prior,34,3,10,6.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,58
85,1485596,195,prior,37,2,15,0.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,58
86,417035,195,prior,40,3,16,2.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,58
87,1615297,195,prior,47,5,10,2.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,58
88,1765587,195,prior,52,3,12,2.0,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,58
89,745908,195,prior,57,4,11,3.0,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,58
90,2505656,222,prior,17,2,12,1.0,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,70
91,3268370,222,prior,38,5,15,1.0,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,70
92,2016711,290,prior,9,5,19,6.0,196,8,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,51
93,2706088,290,prior,28,6,10,7.0,196,16,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,51
94,1952286,331,prior,6,5,16,30.0,196,8,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,8
95,3226575,360,prior,1,5,12,NaN,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Most_orders,3
96,1469869,377,prior,3,5,17,3.0,196,9,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,3
97,1927023,387,prior,2,4,10,22.0,196,3,0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,8
98,858092,420,prior,4,1,19,30.0,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average_orders,22
99,119314,420,prior,5,3,19,16.0,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average_orders,22

In [24]:
##Creating loyalty flag using loc() function
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [25]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [26]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [27]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15877395
Loyal customer      10284396
New customer         6244250
Name: loyalty_flag, dtype: int64

In [28]:
#did the check for first 10 rows to save RAM space
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(10)

   user_id  loyalty_flag  order_number
0        1  New customer             1
1        1  New customer             2
2        1  New customer             3
3        1  New customer             4
4        1  New customer             5
5        1  New customer             6
6        1  New customer             7
7        1  New customer             8
8        1  New customer             9
9        1  New customer            10

In [30]:
#summary statistics of each flag
ords_prods_merged.groupby('loyalty_flag')['max_order'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,10284396.0,63.981575,18.795983,41.0,48.0,58.0,77.0,99.0
New customer,6244250.0,6.575004,2.250956,1.0,5.0,7.0,9.0,10.0
Regular customer,15877395.0,23.430643,8.530363,11.0,16.0,22.0,30.0,40.0

# Question 5. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [21]:
#Group customer
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386229  1.0  99999.0
New customer      13.294406  1.0  99999.0
Regular customer  12.495501  1.0  99999.0

In [31]:
#Checking summary statistics of flags for accuracy
ords_prods_merged.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,10284396.0,10.386229,328.012956,1.0,4.2,7.4,11.2,99999.0
New customer,6244250.0,13.294406,597.547859,1.0,4.2,7.4,11.3,99999.0
Regular customer,15877395.0,12.495501,539.710399,1.0,4.2,7.4,11.3,99999.0

## Comment
It is interesting that new customers have a higher average of purchase price than loyal or regular customers. Also the price max for each customer seems odd when the average is not above 13 for either group of customers. It might be the mean is being thrown off by an outlier value in the dataframe.

In [27]:
#Run descriptive statistics on dataframe columnm prices
ords_prods_merged['prices'].describe()

count    3.240604e+07
mean     1.198004e+01
std      4.956464e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

## Comment
There standard deviation is pretty high at 4.95 e+02 which confirms that many values are far from the mean in this dataframe.

# Question 6. Create a spending flag for each user based on the average price across all their orders using the following criteria: If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.” If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [38]:
#Correction: Finding np.mean rather than np.max
ords_prods_merged['average_price'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [39]:
#create low spender flag
ords_prods_merged.loc[ords_prods_merged['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [40]:
#create high spender flag
ords_prods_merged.loc[ords_prods_merged['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [41]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,10,New customer,6.367797,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Least busy days,Average_orders,10,New customer,6.367797,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Least busy days,Most_orders,10,New customer,6.367797,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy days,Average_orders,10,New customer,6.367797,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy days,Most_orders,10,New customer,6.367797,Low spender

In [42]:
#Frequency check
ords_prods_merged['spending_flag'].value_counts(dropna= False)

Low spender     31771789
High spender      634252
Name: spending_flag, dtype: int64

# Question 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows: If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.” If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.” If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [43]:
#Creating median_prior_orders column using transform()
ords_prods_merged['median_prior_orders'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [44]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy days,Average_orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Mid-range product,Regularly busy,Least busy days,Average_orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,Mid-range product,Regularly busy,Least busy days,Most_orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,Mid-range product,Least busy,Least busy days,Average_orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,Mid-range product,Least busy,Least busy days,Most_orders,10,New customer,6.367797,Low spender,20.5

In [45]:
#Creating order frequency flag 'Frequent Customer'
ords_prods_merged.loc[ords_prods_merged['median_prior_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [46]:
#Creating order frequency flag 'Regular customer'
ords_prods_merged.loc[(ords_prods_merged['median_prior_orders'] >10) & (ords_prods_merged['median_prior_orders'] <=20), 'order_frequency_flag'] = 'Regular customer'

In [47]:
#Creating order frequency flag 'Frequent Customer' 
ords_prods_merged.loc[ords_prods_merged['median_prior_orders'] <=10, 'order_frequency_flag'] = 'Frequent customer'

In [48]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Mid-range product,Regularly busy,Regularly busy days,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Most_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Most_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [49]:
# Check the frequency

ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21560324
Regular customer          7209005
Non-frequent customer     3636707
NaN                             5
Name: order_frequency_flag, dtype: int64

In [5]:
#Creating crosstab
crosstab = pd.crosstab(ords_prods_merged['days_since_prior_order'], ords_prods_merged['order_number'], dropna = False)

In [6]:
crosstab.to_clipboard()

# Question 8. Export Dataframe

In [50]:
#Exporting ords_prods_mreged_aggregated to pickel
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged_aggregated_.pkl'))